---
layout: base
permalink: /people/
title: "PEOPLE | "
style: /assets/css/people.css
---

{% assign exec = "" | split: "" %}
{% assign team = "" | split: "" %}
{% assign staff = "" | split: "" %}
{% assign collaborator = "" | split: "" %}

{% for person in site.categories.people reversed %}
  {% case person.role %}
    {% when "exec" %}
      {% assign exec = exec | push: person %}
    {% when "team" %}
      {% assign team = team | push: person %}
    {% when "staff" %}
      {% assign staff = staff | push: person %}
    {% when "collaborator" %}
      {% assign collaborator = collaborator | push: person %}
  {% endcase %}
{% endfor %}

<p>To view a person's profile, click on their name.</p>

{% include people/exec.html %}
{% include people/team.html %}
{% include people/collaborator.html %}
{% include people/staff.html %}



