---
layout: base
permalink: /people/
title: "PEOPLE | "
style: /assets/css/people.css
---

{% assign execs = "" | split: "" %}
{% assign team = "" | split: "" %}
{% assign staff = "" | split: "" %}

{% for person in site.categories.people %}
  {% case person.role %}
    {% when "exec" %}
      {% assign execs = execs | push: person %}
    {% when "team" %}
      {% assign team = team | push: person %}
    {% when "staff" %}
      {% assign staff = staff | push: person %}
  {% endcase %}
{% endfor %}

<p>To view a person's profile, click on their name.</p>

{% include people/execs.html %}
{% include people/team.html %}
{% include people/staff.html %}



