<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a href="/" class="navbar-brand">
      <img
        src="/assets/images/mind_western_logo.png"
        alt="Mesoscopic Integrated Neuroimaging Data Platform"
        class="nav-brand"
      />
    </a>

    <!-- Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="animated-icon">
        <span></span><span></span><span></span><span></span>
      </div>
    </button>

    <!-- Collapsible content-->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" class="nav-link" {% if page.url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
