/* Base CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: rgb(240, 240, 240);
  font-family: "Merriweather Sans", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vw;
}

#navbar img {
  z-index: 1000;
  background-color: rgb(240, 240, 240);
  width: 35vw;
  height: auto;
  margin-top: 15vw;
  margin-left: 5vw;
}

#navlist {
  z-index: 998;
  list-style: none;
  position: absolute;
  top: 25vw;
  left: 0vw;
  width: 100vw;
  height: auto;
  background-color: rgb(240, 240, 240, 0.9);
  flex-direction: column;
  justify-content: space-around;
  transform: translateY(-100vw);
  transition: transform 0.5s;
}

.open #navlist {
  transform: translateY(0vw);
}

#navlist li {
  padding-left: 5vw;
  padding-bottom: 4vw;
}

.navlink {
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 80);
  text-shadow: 0.1vw 0 #000;
  font-size: 2vh;
  letter-spacing: 0.2vw;
  text-decoration: none;
  text-transform: uppercase;
}

.navlink:hover {
  color: rgb(0, 0, 80);
  text-decoration: underline;
  text-decoration-thickness: 0.5vw;
  text-underline-offset: 1.25vw;
}

#nav-toggle {
  z-index: 1000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 6.5vw;
  right: 7.5vw;
  width: 5vw;
  height: 1vw;
  cursor: pointer;
  color: rgb(0, 0, 80);
  transition: all 0.5s ease-in-out;
}

#hamburger {
  width: 5vw;
  height: 1vw;
  background-color: rgb(0, 0, 80);
  border-radius: 0.5vw;
  border: none;
  transition: all 0.5s ease-out;
}

#hamburger::before,
#hamburger::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 1vw;
  background-color: rgb(0, 0, 80);
  border-radius: 0.5vw;
  border: none;
}

#hamburger::before {
  transform: translateY(-1.5vw);
}

#hamburger::after {
  transform: translateY(1.5vw);
}

.open #hamburger {
  background: transparent;
}

.open #hamburger::before {
  transform-origin: (0, 0);
  transform: rotate(45deg);
}

.open #hamburger::after {
  transform-origin: (0, 0);
  transform: rotate(-45deg);
}

#body-container {
  margin: 15vw 7.5vw 4vw;
}

#footer {
  background-color: rgb(0,0,80);
  color: rgb(240, 240, 240);
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  #navbar {
    height: 2.5vw;
  }

  #navbar img {
    width: 25vw;
  }

  #navlist {
    position: initial;
    width: initial; 
    height: initial;
    background-color: transparent;
    display: inline-flex;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
    margin-top: 18.5vw;
    margin-right: 7.5vw;
  }

  .navlink {
    font-size: 1.75vw;
  }

  #nav-toggle {
    display: none;
  }

  #body-container {
    margin-top: 15vw;
  }
}
