ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: rgb(0, 0, 80);
}

#map {
    margin-top: 2.5vw;
}

#map iframe {
    width: 75vw;
    height: 50vw;
}

/* Large screens */
@media only screen and (min-width: 1024px) {
    #info {
        float: left;
        width: 40vw;
    }

    #map {
        float: right;
        width: 40vw;
    }

    #map iframe {
        width: 38vw;
        height: 19vw;
    }

}