#lab-photo {
  width: 75vw;
  height: auto;
}

.d-flex {
  padding: 0;
}

.modal-body img {
  text-align: center;
}

.funding {
  width: auto;
  height: 5vh;
}

.research {
  text-align: center;
}

.research button {
  margin-bottom: 0.5vh;
}

.research img {
  width: 80%;
  height: auto;
  margin-bottom: 1.5vh;
}

.research-popup {
  text-align: center;
  font-size: 1.25vh;
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  .funding {
    width: auto;
    height: 5vw;
  }

  .research button {
    font-size: 95%;
  }

  .research img {
    width: 85%;
  }

  .research-popup {
    font-size: 1vw;
  }

  .research-popup img {
    height: 40%;
    width: auto;
  }
}
