{% for post in site.categories.news limit: 5 %}

<!-- Get date and create a unique id -->
{% assign date = post.date | date: "%b %-d %Y" %} {% assign article-id = date |
append: '-' | append: post.title | replace: " ", "-" %}

<div class="row article-item">
  <div class="d-flex">
    <div class="flex-grow-1 ms-3">
      <button
        type="button"
        class="media-heading"
        data-bs-toggle="modal"
        data-bs-target="#{{ article-id }}"
      >
        {{ post.title }}
      </button>
      <p class="info">
          <em>{{ date }}</em>
      </p>
    </div>
  </div>
</div>
<br/>

 <!-- News article popup (modal) -->
 <div
 class="modal fade"
 id="{{ article-id }}"
 tabindex="-1"
 aria-labelledby="profile-modal-label"
 aria-hidden="true"
>
  <div 
  class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <!-- Modal Header -->
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h2>{{ post.title }}</h2>
          <p><em>Posted: {{ date }}</em></p>
        </div>
        <button 
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {% if post.image %}
          <div class="row justify-content-center news">
            <img alt="{{ post.image_desc }}" src="{{ post.image }}"/>
            <h3>{{ post.image_desc }}</h3>
          </div>
          <br/>
          {% endif %}
          <div>{{ post }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}


