<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="KhanLab website" />

    <title>{{ page.title }} khanLab</title>

    <!-- CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato|Merriweather+Sans&display=swap"
      rel="stylesheet"
    />

    <link href="/assets/css/base.css" rel="stylesheet" type="text/css" />
    {% if page.style %}
    <link rel="stylesheet" href="{{ page.style }}" />
    {% endif %}
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Navigation -->
    <header>{% include navigation.html %}</header>

    <!-- Body -->
    <main>
      <div class="container">{{ content }}</div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-2">
      {% include footer.html %}
    </footer>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/custom.js"></script>
  </body>
</html>
